/* Base style
   ========================================================================== */
   
/* Fonts */

   
@font-face {
    font-family: 'source_code_proregular';
    src: url('fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{ -webkit-user-select: none; -ms-user-select: none; user-select: none; background:#000;}

/*-- Percent Loader -- */
#mainLoader{position:absolute;z-index:5; display:none; font-size:20px; line-height:20px; color:#fff; text-align:center; width:100%; font-family:'source_code_proregular';}

/*-- Content Wrapper -- */
#mainHolder{position:absolute; width:100%;height:100%;}

/*-- Browser Not Support -- */
#notSupportHolder{ width:90%; margin:5% auto; position:relative; color:#FFF; text-align:center; font-size:25px; font-family:'source_code_proregular'; display:none;}
.notSupport{margin-top:200px;}

/*-- Mobile Rotate Instruction -- */
#rotateHolder{position:absolute;width:100%;height:100%;background-color:#000;z-index:1000; display:none;}
.mobileRotate{width:200px;height:auto;position:absolute;text-align:center;}
.rotateImg{-webkit-animation:spin .5s linear infinite; -moz-animation:spin .5s linear infinite; animation:spin .5s linear infinite; margin-bottom:10px;}
.rotateDesc{color:#fff; font-size:15px; line-height:15px; font-family:'source_code_proregular';}

@-moz-keyframes spin { 50% { -moz-transform: rotate(0deg); } 100% { -moz-transform: rotate(0deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotate(90deg); } 100% { -webkit-transform: rotate(0deg); } }
@keyframes spin { 50% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }

/*-- Canvas Wrapper -- */
#canvasHolder{ display:none; width:100%; max-width:1280px; height:100%; margin:auto; position:relative;}
canvas{ position:fixed;}

/*-- Form Wrapper -- */
#editWrapper{ display:none; font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
#floatForm{ position:fixed; left:0; top:0; z-index:100; background:#0A2385; padding:15px; color:#FFF; width:280px; border:#fff solid 2px;}
#floatForm{ font-size:12px;}
#floatForm #editHubWrapper, #floatForm #editLinesWrapper, #floatForm #editAreaWrapper, #floatForm #editAddHubWrapper, #floatForm #editAddLineWrapper, #floatForm #editAddPointWrapper{ background:#0C226B; padding:10px;}
#floatForm #editPointWrapper{ border:#fff solid 2px; padding: 5px; }
#floatForm input.button, #floatForm select.half, #floatForm label{ width:49%;}
#floatForm .formRow, #floatForm .formRowLong{ height:25px; }
#floatForm .extraHeight{ height:55px; }
#floatForm .formRow input, #floatForm .formRow select{ float:right; width:48%;}
#floatForm .formRow label{ float:left; width:48%;}

#floatForm input{ width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#floatForm textarea{ float:left; width:100%; resize:none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  }
#floatForm select, #floatForm option{ width:100%;}

